     div {
height: 60px;
width: 60px;
background-color: red;
border: 2px solid black;
margin: 25px;
}                                     
 
#static{
position: static;
top: 100px;
left: 100px;
background-color: pink;
}    


 
#relative{
position: relative;
top: 100px;
left: 100px;
background-color: magenta;
}   
 

#absolute{
position: absolute;
top: 100px;
left: 100px;
background-color: blue;
}   
 

#fix{
position: fixed;
top: 100px;
left: 100px;
background-color: yellow;
}   
 