.animation{
width: 200px;
height: 200px;
border: 2px solid black;
background-color: red;

/* animation-name: width;
animation-duration: 3s;
animation-timing-function: ease-in;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal; */

/* shorthand method */
animation: width 3s ease-in 0s infinite normal;

margin-left: 50%;

}

@keyframes width{

from{ 
width: 150;
height: 80px;
background-color:  yellow;
font-size:20px;
color: red;

border-radius: 12%;
}

to{ 
width: 250;
height: 150px;
background-color: magenta;

font-size:50px;
color: aqua;
border-radius: 11%;
}
}




/* % */

.animation1{
width: 400px;
height: 250px;

background-color: red;

/* animation-name: width;
animation-duration: 8s;
animation-timing-function: ease-in;
animation-delay: 0s;
animation-iteration-count: infinite;
animation-direction: normal; */

/* shorthand method */
animation: height 3s ease-in 0s infinite normal;

}

@keyframes height{

0%{ 
width: 250;
height: 100px;
background-color:  yellow;
font-size:20px;
color: red;

border-radius: 12%;
}

50%{ 
width: 300;
height: 150px;
background-color: magenta;

font-size:50px;
color: aqua;
border-radius: 11%;
}


100%{ 
width: 400;
height: 200px;
background-color: balck;

font-size:50px;
color: red;
border-radius: 9%;
}
}

}

