


  .one { 
    background-color: magenta;
    color: white;
width: 150px;
height: 150px;
border: 2px solid black;
position: relative;
z-index: 1;


  }


.two{
background-color: red;
width: 150px;
height: 150px;
border: 2px solid aqua;
position: relative;
bottom: 50px;


}

.three{
background-color: hotpink;
width: 150px;
height: 150px;
border: 2px solid black;

}
